@font-face {
    font-family: dosis;
    src: url('../fonts/dosisregular.ttf');
}

main, input, button, a, input::placeholder, textarea, textarea::placeholder {
    font-family: dosis;
    font-size: medium;
    color: #093d65;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover, 
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #093d65;
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 38vw;
}

.footer {
    background-color: rgba(255, 255, 255);
    border-radius: 5px;
    width: 100vw;
    bottom: -50px;
    position: relative;
}

.welcome h1, .results h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: calc(32px + 1vw);
    text-wrap: wrap;
    width: 90vw;
}

.welcome h2 {
    border-radius: 10px;
    padding: 20px;
    background-color: #f98e54a0;
    max-width: 70vw;
    margin-bottom: 100px;
    font-size: calc(20px + 0.25vw);
}

.welcome, .results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
    flex-direction: column;
}

.form a {
    color: #093d65;
}

.form form {
    background-color: #ffffffe0;
    border-radius: 5px;
    border: 1px solid #093d65;
}

.form form * {
    margin: 10px;
}

.form form button {
    border-radius: 5px;
    border: 1px solid #093d65;
    background-color: #f98e54;
    padding: 5px;
    transition-duration: 1s;
}

.form form button:hover {
    background-color: #f98e5480;
    transition-duration: 1s;
    cursor: pointer;
}

input:focus, textarea:focus {
    outline: none;
}

.result {
    background-color: #f98e54e0;
    border: 1px solid #093d65;
    border-radius: 15px;
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    max-width: 80vw;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
    min-width: 40vw;
}

.resultPic {
    width: 54vw;
    max-width: 500px;
    height: auto;
}

.resultInfo {
    margin: 25px 0px 0px 25px;
    position: relative;
    top: -25px;
}

.star {
    color: yellow;
}

.address {
    margin-top: 21.28px;
    margin-bottom: 21.28px;
}

.address h4 {
    margin: 0px;
}

.restuarantReviews:hover {
    cursor: pointer;
    text-decoration: underline;
}

.pageChangers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    margin-bottom: 30px;
}

.pageChanger {
    border-radius: 5px;
    border: 1px solid #093d65;
    background-color: #f98e54;
    padding: 10px;
    transition-duration: 1s;
}

.pageChanger:hover {
    background-color: #f98e5480;
    transition-duration: 1s;
    cursor: pointer;
}

.reviews {
    width: 50vw;
    margin-bottom: 30px;
    min-width: 350px;
}

.reviews .result{
    justify-content: left;
    margin-top: 30px;
    min-width: 0px;
}

.reviews .result .resultInfo h3 {
    text-align: left;
}

.reviews h3 {
    text-align: center;
}

.resultButton {
    border-radius: 5px;
    border: 1px solid #093d65;
    background-color: white;
    padding: 5px;
    transition-duration: 1s;
}

.resultButton:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transition-duration: 1s;
    cursor: pointer;
}

.resultButtons {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.titleInput, .reviewInput {
    width: 50vw;
}

.newreview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.newreview .starsInput {
    width: 30px;
}

.newreview button {
    align-self: center;
}

.allInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.picInfo {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    height: 400px;
    width: 384px;
    margin: 10px;
}

.picInfo img {
    height: 400px;
    width: 384px;
    background-image: url(../images/missing-profile.png);
    max-width: 70vw;
}

.textInfo {
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 500px;
    align-items: start;
    margin: 10px;
}

.account-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffffffe0;
    border: 1px;
    border-radius: 15px;
    padding: 0px 40px 40px 40px;
    max-width: 70vw;
    margin: 40px 0px 40px 0px;
}

.account-wrapper header {
    align-self: center;
}

.allInfo button {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #093d65;
    background-color: #f98e54;
    color: #093d65;
    width: 40%;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-weight: 600;
    transition-duration: 1s;
}

.textInfo button {
    width: auto;
}

.textInfo div {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.textInfo div label {
    min-width: 50px;
    margin-right: 25%;
}

.allInfo button:hover {
    background-color: #f98e5480;
    transition-duration: 1s;
    cursor: pointer;
  }

  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #f98e54;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f98e54;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .editSwitch {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px;
  }

  .author img {
    max-width: 35px;
    max-height: 35px;
    margin-right: 5px;
    background-image: url(../images/missing-profile.png);
  }

  .author {
    display: flex;
    align-items: center;
  }

  .loading-logo {
    width: 30vw;
    margin: 100px;
  }

  @media (max-width: 700px) {
    .loading-logo {
        width: 80vw;
      }
  }