@font-face {
    font-family: dosis;
    src: url('../fonts/dosisregular.ttf');
}

main, input, button, a, input::placeholder {
    font-family: dosis;
    font-size: medium;
    color: #093d65;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #093d65;
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
}

.welcome, .results {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
}

.form form {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #093d65;
}

.form form * {
    margin: 10px;
}

.form form button {
    border-radius: 5px;
    border: 1px solid #093d65;
    background-color: #f98e54;
    padding: 5px;
}

.form form button:hover {
    background-color: #f98e5480;
    transition-duration: 1s;
    cursor: pointer;
}

input:focus {
    outline: none;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.result {
    background-color: rgb(231, 231, 231);
    border: 1px solid #093d65;
    border-radius: 5px;
    display: flex;
    margin: 30px;
}

.resultPic {
    margin: 50px;
    margin-right: 0px;
    width: 400px;
}

.resultInfo {
    margin: 50px;
}

.star {
    color: #f98e54;
}