.footer-content {
    
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-more, .footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-info p {
    max-width: 85vw;
    text-align: center;
    margin: 3px;
}

.footer-more {
    max-width: 90vw;
}

.footer-more img {
    margin-top: 15px;
    width: 15vw;
    min-width: 150px;
    max-width: 200px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
    justify-content: space-around;
}

.footer-links a{
    width: auto;

}