.navLogo {
    height: 10vw;
    margin: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .link {
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #093d65;
    background-color: #f98e54;
    color: #093d65;
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-weight: 600;
    transition-duration: 1s;
}

nav .link:hover {
    background-color: #f98e5480;
    transition-duration: 1s;
    cursor: pointer;
  }

nav img {
    width: 180px;
    margin: 10px;
    margin-left: 26px;
    margin-top: 24px;
}

nav form {
    border-radius: 5px;
    border: 1px solid #093d65;
    color: #093d65;
}

nav input {
    width: 20vw;
    height: 50px;
    border-radius: 4px;
    border: 0px;
    color: #093d65;
    padding-left: 20px;
}

nav input:focus {
    outline-width: 0;
}

nav button {
    width: 65px;
    height: 54px;
    border-radius: 4px;
    border: 0px;
    background-color: #f98e54;
    color: #093d65;
    font-weight: 600;
    transition-duration: 1s;
}

nav button:hover {
    background-color: #f98e5480;
    transition-duration: 1s;
    cursor: pointer;
}